addSkippedTicks.m\
calcArmStats.m\
calcArmStatsCustom.m\
calcBaselineStats.m\
capitalize.m\
drawDecodingHeatmap.m\
drawEventLines.m\
figureStrings.m\
getCodeMorphSquareData.m\
getColors.m\
getDiagPerformancePercentage.m\
getDiagPerformancePercentageSingleBin.m\
getDiagSquareData.m\
getPairedWhiskerValues.m\
getPerformancePercentage.m\
getPerformancePercentageSingleBin.m\
getTrainTestSquare.m\
loadMat.m\
mergeD1D2.m\
pairedBoxplotCTD.m\
pairedBoxplotCodeMorph.m\
pairedBoxplotStability.m\
pairwiseSigStars.m\
plotCorrectAndError.m\
plotCorrectCodeMorph.m\
plotCorrectVSError.m\
plotDecodingHeatmaps.m\
preparePairedBoxplotData.m\
removeURTicks.m\
rewireCont.m\
saveFigure.m\
setColorbar.m\
setColorsAndHatching.m\
singleBoxplotCTD.m\
singleBoxplotCTDdis.m\
singleBoxplotCodemorph.m\
singleBoxplotStability.m\
singleBoxplotStabilitydis.m\
upFontSize.m\
upSaturation.m\
visCTD.m\
whichCond.m\
cubehelix.m\
break_axis.m\
hatchfillpkg/hatchfillpkg/hatchfill.m\
mysigstar.m\
mysigstarArm.m\
sigstar.m\
suplabel.m}
